body {
    font-family: arial, sans-serif;
}

/* css from https://jqueryhouse.com/check-all-checkboxes-in-html-table-using-jquery/ */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ccd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #ddeedd;
}
